.about {
    padding-top: 120px;
    &_wrapper {
        display: grid;
        grid-template-columns: 400px 670px;
        grid-template-rows: minmax(245px, auto) minmax(255px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
        row-gap: 40px;
    }
    &_descor {
        padding-top: 6px;
        .devider {
            margin: 0;
        }
    }
    &_photo {
        grid-row: 1/3;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        position: relative;
        @include before_circle;
    }
    &_skils {
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 50px;
        row-gap: 20px;
        &_item {
            display: grid;
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
        &-circle {
            position: relative;
            padding: 15px 0 0 15px;
            @include before_circle;
            &:before  {
                top: 0;
                left: -5px;
            }
        }

    }
    &_text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &_skils-text {
        margin-top: 6px;
        font-weight: 500;
        font-size: 12px;
    }
}

@media (max-width: 1439px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &_wrapper {
            grid-template-columns: 400px 650px;
        }
    }
    
}   

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        padding-top: 80px;
        &_wrapper {
            grid-template-columns: 400px 480px;
            column-gap: 50px;
        }
        &_skils {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2, 220px);
            grid-auto-rows: 210px;
            column-gap: 20px;
        } 
        &_skils_item {
            grid-template-columns: 40px 150px;
            .title_fz14 {
                font-size: 12px;
            }
        }
        &_skils-text {
            font-size: 10px;
        }
        
    }
}   

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &_wrapper {
            grid-template-columns: 260px 380px;
        }
        &_text {
            font-size: 20px;
        }
        &_photo {
            grid-row: 1/2;
            width: 100%;
        }
        
        &_skils {
            grid-template: repeat(1,minmax(115px,auto))/repeat(2,290px);
            grid-auto-rows: minmax(115px, auto);
            margin-left: 20px;
            &_item {
                grid-template-columns: 40px 220px;
                column-gap: 20px;
            }
            &-text {
                font-size: 12px;
            }
        }
    }
}   

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
        &_fz36 {
            font-size: 20px;
        }
    }   
    .about {
        &_wrapper {
            grid-template-columns: 250px 260px;
            column-gap: 40px;
        }
        &_text {
            font-size: 16px;
        }
        &_skils {
            grid-template: repeat(1,minmax(115px,auto))/repeat(2,260px);
            margin-left: 0;
        }
    }
    .promo {
        &_title {
            line-height: 39px;
            width: 300px;
        }
    }
}   

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    } 
    &_hamburger {
        top: 20px;
        right: 20px;
    }

    .promo {
        background: url('../img/main_bg.jpg') no-repeat 58%/cover;
        &_btn {
            margin-top: 30px;
        }
    }

    .about {
        &_wrapper {
            margin-top: 40px;
            grid-template: 340px auto auto / minmax(300px, auto);
            row-gap: 20px;
        }
        .about__title {
            margin-left: 20px;
        }
        .about_title {
            margin-left: 8px;
        }
        .devider {
            margin-left: 10px;
        }
        &_text {
            margin-left: 8px;
            font-size: 14px;
        }
        &_skils {
            grid-template: repeat(1,minmax(89px,auto))/ minmax(200px, auto);
            row-gap: 10px;
            &_item {
                margin-left: 10px;
                grid-template-columns: 40px 1fr;
                .title_fz14 {
                    font-size: 14px;
                }
            }
        }
    }
    

    .menu {
        &_block {
            width: 250px;
            padding-left: 20px;
        }
    }
}


